body
{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ecf0f3;

}

.container
{
    width: 45%;
    height: 50vh;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px #cbced1,
            -12px -12px 20px #ffffff;
}
.display #screen
{
    margin-bottom: .5em;
    width: 97%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
        inset -8px -8px 8px #ffffff;

}
.btns
{
    width: 100%;
        margin-top: 1.7em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.btns .row button
{
    width: 85px;
    height: 35px;
    font-size: 20px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    box-shadow: 5px 5px 8px #00000020,
            -5px -5px 8px #ffff;
            transition: .1s;
}

.row button:hover 
{
    box-shadow: inset 5px 5px 8px #800000,
                inset -5px -5px 8px #800000 ;
                background: #800000;
}

#eval
 {
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff,
                inset -5px -5px 8px #00ace6;
}

#eval:hover
 {
    box-shadow: inset 5px 5px 8px #ff3399,
                inset -5px -5px 8px #ff3399;
            background: #ff3399;
}

#ac 
{
    background: #33cc33;
    color: #fff;
}

#ac:hover 
{
    box-shadow: inset 5px 5px 8px #800080,
                 inset -5px -5px 8px #800080;
            background: #800080;
}

#ce
 {
    background: #ff3399;
    color: #fff;
}

#ce:hover 
{
    box-shadow: inset 5px 5px 8px #33ccff,
                inset -5px -5px 8px #33ccff;
    background: #33ccff;
}
